.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   background-color: #f2f2f2;

}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #07bfe9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

.login-form h1 {
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: flex;
  margin-bottom: 5px;
}

.form-group input {
  width: 200%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-btn {
  background-color: #000000;
  color: #fff;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  

}

.login-btn:hover {
  background-color: #000000;
}